.wrapper {
  display: flex;
  min-height: 1vh;
}
.aside {
  flex: 1;
  padding: 5px;
  display: flex;

  background: url(../../../assets/741557.jpg);
  color: white;
}
.gallery {
  flex: 8;
  background: linear-gradient(
    45deg,
    rgba(2, 22, 49, 1) 0%,
    rgba(5, 55, 123, 1) 86%
  );
}
