.wrapper {
  display: flex;
  min-height: 100vh;
}
.aside {
  flex: 4;
  display: none;
  background: url(../../../assets/741557.jpg);
  color: white;

  @media(min-width: 660px) {
    display: flex;
  }
}
.gallery {
  flex: 32;
  background: linear-gradient(45deg, rgba(2, 22, 49, 1) 0%, rgb(2, 3, 5) 86%);
}

.opened {
  flex: 4;
}
.closed {
  flex: 1;
}
