.form-wrapper {
  padding: 0 12px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.row {
  display: flex;
}
.rover-select {
}
.sol-input {
}
label {
  display: flex;
  flex-direction: column;
}

.submit-button {
  color: #ffffff;
}
