.wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  padding: 0 16px;
  justify-content: center;

  opacity: 0.9;

  @media (min-width:500px) {
    padding: 0 32px;
    row-gap: none;
    gap: 10px;
  }
}
